.changeHat{
    display: flex;
    justify-content: space-between;
}

.changeHat button {
    height: fit-content;
    background-color: bisque;
}

.tenue{
    align-items: center;

    display: flex;
    flex-direction: column;
}

.tshirt{
    margin-top: -150px;
    position: relative;
}

.prevButton{
        display: flex;
        flex-direction: column;
        gap: 140px;
}